.container {
  font-family: var(--font-pretendard);
  background-color: var(--color-accent);
  margin: 0 auto;
  padding: 5rem 3.3rem 9rem;
}

.titleBox {
  text-align: left;
  padding-left: 7.3rem;
}

.wrapper {
  background-color: var(--color-bg);
  border-radius: 1rem;
  padding: 5rem;
  margin: 0 0 5rem;
  box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);
  -webkit-box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);
}

.section {
  margin-bottom: 5rem;
}
.introWrap {
  margin-bottom: 2.5rem;
  padding-left: 2.5rem;
}

.intro {
  font-weight: 900;
  font-family: var(--font-pretendard-black);
  color: var(--color-accent);
  margin-bottom: 2.5rem;
}

.itemWrap {
  padding-left: 2.5rem;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.itemList {
  width: 33.33%;
  margin-right: 5rem;
  display: table-cell;
}

.itemTitle {
  margin-bottom: 1.2rem;
}

.itemTitle > span {
  margin-left: 0.5rem;
}

.text {
  margin-bottom: 1.5rem;
}

@media (max-width: 996px) {
  .container {
    padding: 6rem 3rem;
  }

  .titleBox {
    padding-left: 6.5rem;
    margin-bottom: 3rem;
  }

  .wrapper {
    padding: 3rem;
  }

  .section {
    padding-top: 1rem;
  }

  .intro {
    margin-bottom: 1rem;
  }

  .itemWrap {
    margin: 0;
    flex-wrap: wrap;
  }

  .itemTitle {
    margin-bottom: 0.8rem;
  }

  h2 span {
    margin-left: 0.5rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 4rem 2rem 7rem;
  }

  .titleBox {
    padding-left: 4rem;
    margin-bottom: 3rem;
  }

  .wrapper {
    margin: 0 0 2rem;
  }

  .section {
    padding-top: 1rem;
    margin-bottom: 3.5rem;
  }

  .introWrap {
    margin-bottom: 2.5rem;
    padding-left: 1rem;
  }

  .intro_text {
    font-size: 1rem;
    font-weight: 500;
  }

  .itemWrap {
    padding-left: 1rem;
    flex-wrap: wrap;
  }

  .itemList {
    width: 100%;
    margin-right: 0;
    display: table-cell;
  }

  .itemTitle {
    margin-bottom: 0.8rem;
  }

  .itemTitle span {
    font-size: 1.3rem;
    margin-left: 0.5rem;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 4rem 1rem 7rem;
  }

  .titleBox {
    padding-left: 3rem;
    margin-bottom: 3rem;
  }

  .wrapper {
    padding: 2rem;
    margin: 0 0 1rem;
  }

  .section {
    padding-top: 1rem;
    margin-bottom: 2rem;
  }

  .intro {
    margin-bottom: 0.8rem;
  }

  .intro_text {
    font-weight: 300;
    line-height: 1.1rem;
  }

  .itemWrap {
    padding-left: 1rem;
  }

  .itemTitle span {
    font-size: 1.2rem;
    font-weight: 900;
  }
}
