.container {
  font-family: var(--font-pretendart-ExtraBold);
  position: relative;
  margin: 3rem auto 3rem;
  /* width: fit-content; */
}

.text {
  border-bottom-width: 1px;
  /* border-bottom-style: solid; */
  font-size: 4rem;
  line-height: 1.5;
}

@media (max-width: 996px) {
  .container {
    margin: 0 auto 2.3rem;
  }
  .text {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 auto 2rem;
  }
  .text {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.5;
  }
}

@media (max-width: 576px) {
  .container {
    margin: 0 auto 1.5rem;
  }
  .text {
    font-weight: 700;
    line-height: 1.5;
  }
}
