.container {
  /* width: 100%; */
  font-family: var(--font-pretendart-ExtraBold);
  position: relative;
  margin: 3rem auto 5rem;
}

.text {
  /* border-bottom-width: 1px; */
  /* border-bottom-style: solid; */
  font-size: 4rem;
  line-height: 1.5;
}

@media (max-width: 996px) {
  .container {
    margin: 2rem auto 5rem;
  }
  .text {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 2rem auto 3rem;
  }
  .text {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.5;
  }
}

@media (max-width: 576px) {
  .container {
    margin: 2rem auto;
  }
  .text {
    font-weight: 700;
    line-height: 1.5;
  }
}
