.container {
  font-family: var(--font-pretendard);
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg-dark);
  overflow: auto;
}

.text {
  width: 100%;
  height: 100%;
  font-size: 9rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: pre-line;
}

.text > h2 {
  font-size: 9rem;
  font-weight: bold;
  text-align: center;
}

.text > h2::after {
  content: '';
  margin-left: 0.6rem;
  border-right: 3px solid rgb(239, 239, 239);
  animation: cursor 0.9s infinite steps(2);
}

@keyframes cursor {
  from {
    border-right: 2px solid #000;
  }
  to {
    border-right: 2px solid rgb(239, 239, 239);
  }
}

@media (max-width: 996px) {
  .text > h2 {
    font-size: 7rem;
  }
}

@media (max-width: 768px) {
  .text > h2 {
    font-size: 5rem;
  }
}

@media (max-width: 576px) {
  .text > h2 {
    font-size: 3rem;
  }
}
