.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg-dark);
  overflow: auto;
}

.text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9rem;
  font-weight: bold;
}

@media (max-width: 996px) {
  .text {
    font-size: 6rem;
  }
}
@media (max-width: 389px) {
  .text {
    font-size: 2rem;
  }
}
