.container {
  width: 100vw;
  height: 70vh;
  background-color: var(--color-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  font-size: 4rem;
  font-weight: bold;
  margin: 0 40px;
}

.text {
  font-size: 2rem;
  margin: 0 50px;
}
