.container {
  font-family: var(--font-pretendard);
  width: 100%;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 3.3rem 13rem;
}

.textWrap {
  padding: 0 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-break: keep-all;
}

.intro {
  font-size: 2rem;
  margin-bottom: 1.3rem;
  font-weight: 900;
  text-align: center;
}

.introText {
  font-size: 1.3rem;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin: 1.7rem 0 1.5rem 0;
}

.text > p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4rem;
}

@media (max-width: 996px) {
  .container {
    padding: 3.3rem 3rem;
  }

  .text {
    font-size: 7rem;
  }

  .intro {
    font-size: 1.7rem;
    margin-bottom: 1.3rem;
    font-weight: 800;
  }

  .introText {
    font-size: 1rem;
  }

  .title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1.7rem 0 1.5rem 0;
  }

  .text > p {
    font-size: 0.9rem;
    font-weight: 200;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 3.3rem 0rem;
  }

  .intro {
    font-size: 1.2rem;
  }

  .introText {
    font-size: 0.6rem;
    font-weight: 300;
  }

  .title {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1.7rem 0 1.5rem 0;
  }

  .text > p {
    font-size: 0.5rem;
    font-weight: 200;
  }
}
