.container {
  font-family: var(--font-pretendard);
  width: 100%;
  background-color: #2d2d2d;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 3.3rem 13rem;
}

.textWrap {
  max-width: 71.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-break: keep-all;
}

.titleWrap {
  color: #fff;
  padding: 0 6rem;
  margin: 0 0 3rem;
  text-align: center;
}

.intro {
  font-size: 2rem;
  margin-bottom: 1.4rem;
  font-weight: 900;
}

.introText {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.text {
  background-color: #fff;
  padding: 4rem;
  margin: 0 3rem 3rem;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);
  -webkit-box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin: 1.7rem 0 1.5rem 0;
}

.text > p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
}

@media (max-width: 996px) {
  .container {
    padding: 3.3rem 3rem;
  }

  .text {
    font-size: 7rem;
  }

  .intro {
    font-size: 1.7rem;
    margin-bottom: 1.3rem;
    font-weight: 800;
  }

  .introText {
    font-size: 1rem;
  }

  .title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1.7rem 0 1.5rem 0;
  }

  .text > p {
    font-size: 0.9rem;
    font-weight: 200;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 3.3rem 1rem;
  }

  .titleWrap {
    padding: 0 3rem;
    margin: 0 0 1rem;
  }

  .intro {
    font-size: 1.3rem;
  }

  .introText {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.1rem;
  }

  .title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1.5rem 0;
  }

  .text {
    padding: 2rem;
  }

  .text > p {
    font-size: 0.8rem;
    font-weight: 200;
    line-height: 1.1rem;
  }
}
