.container {
  height: 11rem;
  padding-top: 3rem;
  background-color: var(--color-bg-black);
  text-align: center;
}

.footer_icon {
  margin-bottom: 1rem;
}

.footer_iconWrap {
  width: 3rem;
  height: 3rem;
  background-color: var(--color-bg);
  position: relative;
  display: inline-block;
  padding: 2px;
  margin: 0 0.5rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3;
}

.footer_iconWrap:hover {
  transform: scale(1.1, 1.1);
}

.footer_iconWrap > img {
  width: 100%;
}

.footer_copyright {
  font-weight: 400;
  font-size: 0.9rem;
  color: #f5f5f5;
}
