.container {
  background-color: rgb(45, 45, 45);
}

.wrap {
  width: 100%;
  max-width: 71.25rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.listWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #f5f5f5;
  margin: 0 auto;
}

.title {
  color: #ffffff;
  border-bottom: 1px solid #6c757d;
  font-size: 3rem;
  font-weight: 600;
  padding: 20px;
  margin: 0 auto 3rem;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin: 0 auto 3rem;
}

.itemWrap {
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  height: 100%;
}

.wrapper {
  flex: 1;
}

.nameWrap {
  display: block;
  width: 12rem;
  margin-bottom: 1rem;
}

.nameImg {
  width: 10rem;
  /* height: 3rem; */
  object-fit: cover;
}

.address {
  margin-bottom: 1rem;
  color: #258ddb;
  display: inline-block;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.textTitle {
  margin: 15px 0;
  font-size: 1.4rem;
  color: #444;
}

.textWrap {
  color: #444;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1rem;
}

.contactWrap {
  color: #444;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1rem;
}

.contactWrap > li {
  list-style: none;
}

.text {
  margin: 0 0 1rem;
  list-style: disc;
}

.hr {
  width: 1px;
  height: 13rem;
  border-left: 1px solid #000;
  margin: 0 2rem;
  opacity: 0.3;
}

@media (max-width: 1200px) {
  .listWrap {
    width: fit-content;
    padding: 3rem 5rem;
  }

  .itemWrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hr {
    width: 15rem;
    height: 1px;
    margin: 2rem 0;
    border-left: none;
    border-bottom: 1px solid #000;
  }

  .contactWrap {
    text-align: center;
    padding: 0;
  }

  .contactWrap > .textTitle,
  .text {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .itemWrap {
    width: 100%;
    max-width: 30rem;
  }
}

@media (max-width: 576px) {
  .listWrap {
    padding: 1rem 2rem;
  }

  .address {
    max-width: 220px;
  }
}
