.container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}

.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  height: auto;
  max-height: 80%;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 auto;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  overflow: hidden scroll;
  z-index: 100;
}

.contentWrap {
  margin-top: 1rem;
}

.qna {
  text-align: center;
  margin-bottom: 2rem;
}

.textWrap {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.title {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.text {
  font-weight: 400;
  background-color: rgb(238, 238, 238);
  padding: 1rem 1rem 2rem;
  border-radius: 0.5rem;
}
.btnBox {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.modalBtn {
  font-size: 1.2rem;
  font-weight: 900;
  background-color: black;
  color: var(--color-white);
  display: table;
  border-radius: 0.5rem;
  padding: 0.8rem 2rem;
  cursor: pointer;
}

@media (max-width: 996px) {
  .modalBox {
    width: 90%;
    height: 70%;
  }
}

@media (max-width: 769px) {
  .modalBox {
    padding: 1rem 1.5rem;
    margin: 0 auto;
  }

  .btnBox {
    margin: 1rem;
  }
}

@media (max-width: 576px) {
  .modalBtn {
    font-size: 1rem;
    font-weight: 900;
    border-radius: 0.5rem;
    padding: 0.4rem 1rem;
  }
}
